*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{

    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color:aliceblue;

} 

.navContainer{ 

    width:100vw;
    /* background-color: cadetblue; */
    background-color: #4158D0;
background-image: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: -moz-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: -o-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 

nav{ 
    width: 100%;
    
} 

#navList{ 

    width:100%;
    padding: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#navLogo{
    font-size: 2.8rem;
    color: aliceblue;
} 
 a{

    text-decoration: none;
 }

 #navItems{
     display: flex;
     gap: 30px;
 } 

 .footerBox{ 
    background-color: #4158D0;
background-image: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: -moz-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: -o-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  color: azure; 

  width: 100%;
  text-align: center;
  min-height: 40px;

 }  

 .footerBox p{ 
     color: azure;
     font-size: 2rem;
 } 

 .contentBox{ 

    width:70%;
    margin:auto;
    /* border: 1px solid black; */
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 1px 1px 30px black;

 } 

 .item{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
 }  
 .righBox{ 
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
 }

 .righBox img{  
    border-radius: 20px;
    transition: all  0.6s  linear 0s;

 } 
 .righBox :hover{ 
    transform: scale(1.2);
 }

 .leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .leftBox h2{ 
    font-size: 2rem;
     
 } 
 .imgBox{ 
     font-size: 1.3rem;
 } 

 .recipeBox{ 
    font-size: 1.1rem;
 } 

 .righBox.overlay{ 

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(208, 72, 117, 0.601);

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
 }  

  .rightBox:hover .overlay{ 
    opacity: 1;
  }

 .righBox  .overlay span{
    color: white;
    font-size: 1.2rem;
 }



 
 
 

 